@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&display=swap");

:root {
  --poppins-ft: "Poppins", sans-serif;
  --mulish-ft: "Mulish", sans-serif;
  --playfair-ft: "Playfair Display", serif;
  --font-ft: "Cinzel", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  line-height: 1.7;
}

img {
  max-width: 100%;
  display: block;
}

video {
  max-width: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container::before {
  content: "";
  background: url("/images/1106852.jpg") no-repeat center / cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: blur(3px);
}

/* Card */

.card {
  background: url("/images/1106852.jpg") no-repeat center / cover;
  max-width: 50%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 20px;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 500ms all ease-in-out;
  overflow: hidden;
  height: 400px;
  padding: 1.5rem;
  border-radius: 4px;
}

.card::before {
  content: "";
  background: radial-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.71));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card .main-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  filter: drop-shadow(0px 0px 25px #111);
  transition: 0.3s ease-in-out;
  z-index: 1;
}

.card .details {
  position: relative;
  width: 100%;
}

.card:hover .main-image {
  right: -150px;
}

/* Details */

.details h1 {
  font-size: 2.5rem;
  font-family: var(--font-ft);
  letter-spacing: 2px;
}

.details .text {
  margin-bottom: 1rem;
}

.details .sub-text {
  margin-bottom: 0.5rem;
  opacity: 0.7;
}

/* Rating Box */

.rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.rating .rating-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rating-box img {
  max-width: 30%;
}

.rating-box h2 {
  margin-left: 10px;
}

.rating-box p {
  margin-left: 10px;
  font-size: 0.8rem;
  opacity: 0.7;
}

/* Tablet */

@media (max-width: 799px) {
  .rating {
    flex-direction: column;
  }
  .rating-box img {
    max-width: 15%;
  }
  .main-image {
    position: relative;
  }
  .card .main-image {
    right: -250px;
  }
  .card {
    max-width: 100%;
  }
  .card:hover .main-image {
    right: -250px;
  }
}

/* Mobile */

@media (max-width: 419px) {
  .text {
    font-size: 1.3rem;
  }
}
